STRIPE_PUBLIC=""
SERVER=""
SNIPCART_KEY=""
TINA_CLIENT_ID=""
TINA_TOKEN=""
TINA_SEACH_TOKEN=""
BRANCH="main" # set to git branch for testing tina cms build command  
NUXT_PUBLIC_SITE_URL="https://macojaune.com"
NUXT_PUBLIC_ASSET_BASE_URL="https://cdn.macojaune.com"
R2_BUCKET=""
R2_ACCOUNT_ID=""
R2_ENDPOINT=""
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""
R2_PUBLIC_BASE_URL="https://cdn.macojaune.com"
R2_PREFIX="pictures"
