NUXT_PUBLIC_SITE_URL="https://macojaune.com"
NUXT_PUBLIC_ASSET_BASE_URL="https://cdn.macojaune.com"
NUXT_PUBLIC_MEDIA_BASE_URL="https://cdn.macojaune.com"
NUXT_PUBLIC_SERVER_URL=""
NUXT_PUBLIC_STRIPE_KEY=""

NUXT_STRIPE_KEY=""
NUXT_STRIPE_WEBHOOK_SECRET=""
NUXT_TURSO_URL=""
NUXT_TURSO_AUTH_TOKEN=""

R2_ACCOUNT_ID=""
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""
R2_BUCKET=""
R2_ENDPOINT=""
R2_PUBLIC_BASE_URL="https://cdn.macojaune.com"
R2_PREFIX="pictures"
R2_LOCAL_DIR="public/pictures"

SNIPCART_KEY=""
TINA_CLIENT_ID=""
TINA_TOKEN=""
TINA_SEARCH_TOKEN=""
BRANCH="main" # set to git branch for testing tina cms build command
